@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}

#logo {
    height: 60px;
    width: 60px;
  }

h1 {
font-size: 50px;
line-height: 64px;
color: white;


}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;

}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
    margin-top: 10px;
}

p {
    font-size: 16px; 
    color: gray;
    margin:15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body {
    width: 100%;

}

#header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position:sticky;
    top: 0;
    left: 0;

}  

.logo {
    width: 100px; 
    height: auto; 
  }
  
  .navbar {
    font-size: 16px;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
  }
  
  .navbar-light .navbar-nav .nav-link {
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
  }
  
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar i:hover,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar i.active {
    color: coral;
  }
  
  .navbar i {
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  /*mobile nav*/
  .navbar-light .navbar-toggler {
    border: none;
    outline: none;
  }
  
  #bar {
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    transition: 0.3s ease;
    color: black;
  }
  
  #bar:hover,
  #bar.active {
    color: #fff;
  }
  
  @media only screen and (max-width: 991px) {
    body > nav > div > button:hover,
    body > nav > div > button:focus {
      background-color: coral;
    }
    body > nav > div > button:hover #bar,
    body > nav > div > button:focus #bar {
      background-color: coral;
    }
  
    #navbarSupportedContent > ul {
      margin: 1rem;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;
    }
  }

  .shopNowBtn {
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
  }
  .shopNowBtn:hover {
    background-color: #3a3833;
  }

  #home {
    background-image: url("2.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
  }
  
  #home span {
    color: coral;
  }
  
  #new .one img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  #new .one .details {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
  }
  
  #new .one:hover .details {
    cursor: pointer;
    background-color: rgb(245, 178, 178, 0.7);
  }
  
  #new .one .details button {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    text-transform: uppercase;
    border-bottom: 1px solid #2a2a2a;
    padding: 2.5px;
    transform: translateY(70px);
    transition: 0.3s ease;
  }
  
  #new .one .details button:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  
  #new .one:nth-child(1) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }
  #new .one:nth-child(2) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #new .one:nth-child(3) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
  }



  
 .small-image {
    width: 40px;
    height: 85px; 
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 150px;
    text-align: center;
    padding: 15px 15px;
    box-shadow:  20px 20px 34px rgba(0,0,0,0.03) ;
    border: 1px solid #cce7d0;
    border-radius:4px ;
    margin: 15px 0;

  }

  
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);

}
#feature .fe-box img{
    width: 100%;
    margin-bottom:10px ;
}


#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color:gray ; 

}



.featuresBtn {
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 5px 5px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .featuresBtn:hover {
    background-color: #3a3833;
  }

#product1{
    text-align: center;
}
#product1 .pro-container{
    display:flex;
    justify-content:space-between ;
    padding: 20px;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px ;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02) ;
    margin: 15px 20px;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06) ;

}
#product1 .pro img{
    width:100% ;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding:10px 0;
}
#product1 .pro .des span{
    color: #606063;
    font-size: 12px;


}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;

}
#product1 .pro .des i{
    font-size: 12px;
    color:rgb(243, 181, 25) ;


}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;

}
#product1 .pro .cart{
    width: 40px;
    height:40px;
    line-height: 40px;
    border-radius: 50px;
    background-color:#e8f6ea;
    font-weight: 500;
    color:#088178;
    border: 1px solid #cce7d0;
    position:absolute;
    bottom: 20px;
    right:10px;

}